# Terraform
.terraform/
.terraform.lock.hcl

# Terraform State
*.tfstate
*.tfstate.*
crash.log

# Terraform Variables Sensíveis
*.auto.tfvars
*.auto.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI Config
.terraformrc
terraform.rc

# Plan files
*.tfplan
plan.out

# IDEs
.vscode/
.idea/

# MacOS
.DS_Store

# Linux
*~

# Logs
*.log

# Kubernetes
kubeconfig